USE [master]
GO
/****** Object:  Database [RealEstateAgency]    Script Date: 06.03.2026 9:42:37 ******/
CREATE DATABASE [RealEstateAgency]
GO
USE [RealEstateAgency]
GO
/****** Object:  View [dbo].[predstavlenie]    Script Date: 06.03.2026 9:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[predstavlenie] 
AS Select growth as ves
from sys.sysaltfiles
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 06.03.2026 9:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID] [int] NOT NULL,
	[FirstName] [nvarchar](40) NULL,
	[SeconName] [nvarchar](40) NULL,
	[ThirdName] [nvarchar](40) NULL,
	[Type_Clients] [int] NULL,
	[PassportNumber] [int] NULL,
	[PassportSeries] [int] NULL,
	[DateOfBirth] [date] NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deal]    Script Date: 06.03.2026 9:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deal](
	[ID] [int] NOT NULL,
	[Ourien_ID] [int] NULL,
	[Realtor_ID] [int] NULL,
	[Buyer_Tanant_ID] [int] NULL,
	[CostPerMonth] [float] NULL,
	[Type_Deal] [int] NULL,
	[Comission] [float] NULL,
 CONSTRAINT [PK_Deal] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Placement]    Script Date: 06.03.2026 9:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Placement](
	[ID] [int] NOT NULL,
	[Address] [nvarchar](200) NULL,
	[Square] [float] NULL,
	[CadastralValue] [float] NULL,
	[MarketValue] [float] NULL,
	[Rooms] [tinyint] NULL,
	[Floors] [tinyint] NULL,
	[Type_Placement_ID] [int] NULL,
	[Dascription] [nvarchar](500) NULL,
 CONSTRAINT [PK_Plament] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Realest_Placement]    Script Date: 06.03.2026 9:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Realest_Placement](
	[ID] [int] NOT NULL,
	[Deal_ID] [int] NULL,
	[Placement_ID] [int] NULL,
 CONSTRAINT [PK_Realest_Placement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 06.03.2026 9:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Clients]    Script Date: 06.03.2026 9:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Clients](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Type_Clients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Deal]    Script Date: 06.03.2026 9:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Deal](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Type_Deal] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Placement]    Script Date: 06.03.2026 9:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Placement](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Type_Plament] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.03.2026 9:42:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] NOT NULL,
	[FirstName] [nvarchar](40) NULL,
	[StudentName] [nvarchar](40) NULL,
	[ThirdName] [nvarchar](40) NULL,
	[Login] [nvarchar](30) NULL,
	[Password] [nvarchar](70) NULL,
	[Role_ID] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clients] ([ID], [FirstName], [SeconName], [ThirdName], [Type_Clients], [PassportNumber], [PassportSeries], [DateOfBirth]) VALUES (1, N'Алексей', N'Морозов', N'Дмитриевич', 1, 123456, 4512, CAST(N'1985-03-15' AS Date))
INSERT [dbo].[Clients] ([ID], [FirstName], [SeconName], [ThirdName], [Type_Clients], [PassportNumber], [PassportSeries], [DateOfBirth]) VALUES (2, N'Екатерина', N'Волкова', N'Андреевна', 2, 234567, 4513, CAST(N'1990-07-22' AS Date))
INSERT [dbo].[Clients] ([ID], [FirstName], [SeconName], [ThirdName], [Type_Clients], [PassportNumber], [PassportSeries], [DateOfBirth]) VALUES (3, N'Сергей', N'Васильев', N'Николаевич', 2, 345678, 4514, CAST(N'1978-11-05' AS Date))
GO
INSERT [dbo].[Deal] ([ID], [Ourien_ID], [Realtor_ID], [Buyer_Tanant_ID], [CostPerMonth], [Type_Deal], [Comission]) VALUES (1, 2, 3, 1, 0, 1, 110000)
INSERT [dbo].[Deal] ([ID], [Ourien_ID], [Realtor_ID], [Buyer_Tanant_ID], [CostPerMonth], [Type_Deal], [Comission]) VALUES (2, 4, 2, 3, 35000, 2, 35000)
INSERT [dbo].[Deal] ([ID], [Ourien_ID], [Realtor_ID], [Buyer_Tanant_ID], [CostPerMonth], [Type_Deal], [Comission]) VALUES (3, 1, 3, 2, 0, 2, 76000)
GO
INSERT [dbo].[Placement] ([ID], [Address], [Square], [CadastralValue], [MarketValue], [Rooms], [Floors], [Type_Placement_ID], [Dascription]) VALUES (1, N'ул. Ленина, д.10, кв.25', 12, 1800000, 5500000, 1, 3, 1, N'Хороший ремонт, новая сантехника')
INSERT [dbo].[Placement] ([ID], [Address], [Square], [CadastralValue], [MarketValue], [Rooms], [Floors], [Type_Placement_ID], [Dascription]) VALUES (2, N'пр. Мира, д.5, кв.12', 11, 1200000, 3800000, 3, 5, 1, N'Свежий ремонт, мебель в комплекте')
INSERT [dbo].[Placement] ([ID], [Address], [Square], [CadastralValue], [MarketValue], [Rooms], [Floors], [Type_Placement_ID], [Dascription]) VALUES (3, N'ул. Гагарина, д.15', 13, 3500000, 8900000, 4, 2, 2, N'Дом с участком 6 соток')
GO
INSERT [dbo].[Realest_Placement] ([ID], [Deal_ID], [Placement_ID]) VALUES (1, 1, 1)
INSERT [dbo].[Realest_Placement] ([ID], [Deal_ID], [Placement_ID]) VALUES (2, 2, 3)
INSERT [dbo].[Realest_Placement] ([ID], [Deal_ID], [Placement_ID]) VALUES (3, 3, 2)
GO
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (2, N'Риэлтор')
GO
INSERT [dbo].[Type_Clients] ([ID], [Name]) VALUES (1, N'Покупатель')
INSERT [dbo].[Type_Clients] ([ID], [Name]) VALUES (2, N'Продавец')
INSERT [dbo].[Type_Clients] ([ID], [Name]) VALUES (3, N'Арендатор')
GO
INSERT [dbo].[Type_Deal] ([ID], [Name]) VALUES (1, N'Купля-продажа')
INSERT [dbo].[Type_Deal] ([ID], [Name]) VALUES (2, N'	Аренда')
GO
INSERT [dbo].[Type_Placement] ([ID], [Name]) VALUES (1, N'Квартира')
INSERT [dbo].[Type_Placement] ([ID], [Name]) VALUES (2, N'Апортаменты')
INSERT [dbo].[Type_Placement] ([ID], [Name]) VALUES (3, N'Загородный дом')
GO
INSERT [dbo].[Users] ([ID], [FirstName], [StudentName], [ThirdName], [Login], [Password], [Role_ID]) VALUES (1, N'Иван', N'Петров', N'Сергеевич', N'ivan.petrov', N'12345', 1)
INSERT [dbo].[Users] ([ID], [FirstName], [StudentName], [ThirdName], [Login], [Password], [Role_ID]) VALUES (2, N'	Анна', N'Смирнова', N'Викторовна', N'anna.smirnova', N'12345', 2)
INSERT [dbo].[Users] ([ID], [FirstName], [StudentName], [ThirdName], [Login], [Password], [Role_ID]) VALUES (3, N'Дмитрий', N'Соколов', N'Андреевич', N'd.sokolov', N'12345', 2)
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Type_Clients] FOREIGN KEY([Type_Clients])
REFERENCES [dbo].[Type_Clients] ([ID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Type_Clients]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [FK_Deal_Clients] FOREIGN KEY([Buyer_Tanant_ID])
REFERENCES [dbo].[Clients] ([ID])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [FK_Deal_Clients]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [FK_Deal_Clients1] FOREIGN KEY([Ourien_ID])
REFERENCES [dbo].[Clients] ([ID])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [FK_Deal_Clients1]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [FK_Deal_Type_Deal] FOREIGN KEY([Type_Deal])
REFERENCES [dbo].[Type_Deal] ([ID])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [FK_Deal_Type_Deal]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [FK_Deal_Users] FOREIGN KEY([Realtor_ID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [FK_Deal_Users]
GO
ALTER TABLE [dbo].[Placement]  WITH CHECK ADD  CONSTRAINT [FK_Placement_Type_Placement] FOREIGN KEY([Type_Placement_ID])
REFERENCES [dbo].[Type_Placement] ([ID])
GO
ALTER TABLE [dbo].[Placement] CHECK CONSTRAINT [FK_Placement_Type_Placement]
GO
ALTER TABLE [dbo].[Realest_Placement]  WITH CHECK ADD  CONSTRAINT [FK_Realest_Placement_Deal] FOREIGN KEY([Deal_ID])
REFERENCES [dbo].[Deal] ([ID])
GO
ALTER TABLE [dbo].[Realest_Placement] CHECK CONSTRAINT [FK_Realest_Placement_Deal]
GO
ALTER TABLE [dbo].[Realest_Placement]  WITH CHECK ADD  CONSTRAINT [FK_Realest_Placement_Placement] FOREIGN KEY([Placement_ID])
REFERENCES [dbo].[Placement] ([ID])
GO
ALTER TABLE [dbo].[Realest_Placement] CHECK CONSTRAINT [FK_Realest_Placement_Placement]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
